*{
    padding: 0%;
    margin: 0%;
    
}
body{
    width: 100%;
    height: 100%;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/imgs/senaiFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.divHeader{
        width: 100%;
        height: 60.5px;
        background-color: rgb(146,214,255);
}

.ulNavs{
    height:100%;
    padding: 10px;
    padding-top: 0%;    
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
}
li{
    
    padding: 1px;
    margin: 10px;
    
    border-radius: 2px;

}
a{
    text-transform: none;

}
.btnav{
    border-right: 2px solid rgb(255, 0, 0);
    border-top:2px solid rgba(0, 0, 0, 0);
    border-left:2px solid rgba(0, 0, 0, 0);
    border-bottom:2px solid rgba(0, 0, 0, 0);

    border-radius: 2px;
    padding: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.btnav:hover {
     border-right: 2px solid rgb(0, 119, 255);
    border-top:2px solid rgba(0, 0, 0, 0);
    border-left:2px solid rgba(0, 0, 0, 0);
    border-bottom:2px solid rgba(0, 0, 0, 0);

    border-radius: 2px;
    padding: 5px;
    background-color: transparent;
    color: aliceblue;
}
.h1Logo{
    color: aliceblue;
    width: 10px;
    float: left;
    padding-left: 12px;
}
.inner{
    width: 30%;
    padding: 30px;
    height: 150px;
    font-size: 30px;

}
.imgLog{
    border-radius: 100%;
   height: 100px;
   width: 100px;
}
.divLogin{
    padding-top: 5%;
    padding-left: 42%;
}
.h1Senai{
    color: rgb(255, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border-left: 5px solid rgb(254, 0, 0);
    border-right: 5px solid rgb(255, 0, 0);
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    text-align: center;
    border-style: double;
    
}
.btMais{
    background-color: rgb(199, 191, 191);
    color: white;
    border: none;
    padding: 6px;
    border-radius: 4px;
    width: 200px;
}
.btMais:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 6px;
    border-radius: 4px;
    width: 200px;
}
.imgLogo{
    padding: 10px ;
    padding-top: 15px;
    float: left;
}
.input100{
    width: 314px;
    font-size: 20px;
    border-top: 0px solid red ;
    border-bottom: 1px solid red ;
    border-left: 0px solid red ;
    border-right: 0px solid red ;
    outline: none;
}
.divinputs{
    padding: 100px;
    background-color: rgba(0, 255, 255, 0);
    width: 50px;
    border: 3px solid red;
    border-style: dashed;
    border-radius: 20px;
    width: 314px;
}
.login100-form-btn{
    border: none;
    padding: 10PX;
    width: 314PX;
    font-size: 20px;
    font-family: monospace;
}
.login100-form-btn:hover{
    border: none;
    padding: 10PX;
    width: 314PX;
    color: white;
    background-color: rgb(146,214,255);

}
.login100-form-title{
    padding: 10px;
    text-align: center;
    font-size: 40px;
    border-radius: 10%;
    
}
.divinputs2{
    padding-top:50px ;
    
}
.divSpan{
    padding-left: 90px;
}